## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Visual Studio
.vs/
*.rsuser
*.csproj.user

## Rider
.idea/

## OS
Thumbs.db
.DS_Store

## User secrets
secrets.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Logs
*.log
